body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.todo-container .input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-container input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.add-btn {
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #208220;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.delete-btn {
  background-color: #b72f25;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
